fabric_dbt_demo:
  target: dev
  outputs:
    dev:
      type: fabric
      driver: "ODBC Driver 18 for SQL Server"
      server: "{{ env_var('DBT_FABRIC_SERVER') }}"
      port: 1433
      database: "{{ env_var('DBT_FABRIC_DATABASE') }}"
      schema: "{{ env_var('DBT_SCHEMA') }}"
      authentication: CLI
      encrypt: true
      trust_cert: false
      threads: 4
